/*Estilos base para el documento*/
html{
	font-family: Verdana, sans-serif;
	background-color: rgb(235,235,235);
}
body{
	margin: 110px 0 35px 0;
}
header{
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 150;
}
a{
	text-decoration: none;
}
footer{
	left: 0;
	right: 0;
	bottom: 0;
	height: 35px;
	opacity: 0.9;
	position: fixed;
	font-size: 0.9em;
	text-align: center;
	background-color: rgb(0,0,0);
}
footer > .col-m-2 > a > p{
	margin: 9px 0;
	color: rgb(180,180,180);
}

/*Menús*/
.menu1{
	height: 70px;
	background-color: rgb(30,30,30);
}
.logo{
	font-size: 1.2em;
	text-align: center;
	font-style: oblique;
	color: rgb(250,250,250);
	font-family: Lucida Sans Unicode, sans-serif;
}
.logo > h1{
	margin: 5px 0;
}
.busqueda{
	height: 38px;
	margin: 15px 8%;
	font-size: 1.05em;
	border-radius: 6px;
	color: rgb(200,200,200);
	background-color: rgb(80,80,80);
	border: 1px solid rgb(160,160,160);
}
.busqueda > p{
	margin: 9px;
}
.menu1-1{
	height: 30px;
	font-size: 0.75em;
	font-style: oblique;
	color: rgb(140,140,140);
}
.menu1-1 > p{
	margin: 7px 0;
}
.menu1-2, .menu1-2-active, .menu2, .menu2-2, .menu2-2-active{
	height: 40px;
	font-weight: bold;
	text-align: center;
	color: rgb(250,250,250);
	background-color: rgb(80,80,80);
}
.menu1-2-active, .menu2-2-active{
	color: rgb(30,30,30);
	background-color: rgb(160,160,160);
}
.menu2, .menu2-2{
	background-color: rgb(160,160,160);
}
.menu1-2 > p, .menu1-2-active > p, .menu2-2 > p, .menu2-2-active > p{
	margin: 10px 0;
}

/*Columnas*/
[class*="col-"] {
/*Para dispositivos móviles*/
	position: relative;
	float: left;
	width: 100%;
}
/*Para Tablets*/
@media only screen and (min-width: 600px){
	.col-m-1 {width: 8.33333333%;}
	.col-m-2 {width: 16.66666667%;}
	.col-m-3 {width: 20%;}
	.col-m-4 {width: 25%;}
	.col-m-5 {width: 33.33333333%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 66.66666667%;}
	.col-m-8 {width: 75%;}
	.col-m-9 {width: 80%;}
	.col-m-10 {width: 83.33333333%;}
	.col-m-11 {width: 91.66666667%;}
	.col-m-12 {width: 100%;}
	.menu1-2{
		overflow: hidden;
		border-radius: 5px 5px 0 0;
	}
	.menu2-2-active{
		height: 37px;
		border-bottom: 3px solid rgb(40,80,250);
	}
}
/*Para PCs*/
@media only screen and (min-width: 768px) {
	.col-1 {width: 8.33333333%;}
	.col-2 {width: 16.66666667%;}
	.col-3 {width: 20%;}
	.col-4 {width: 25%;}
	.col-5 {width: 33.33333333%;}
	.col-6 {width: 50%;}
	.col-7 {width: 66.66666667%;}
	.col-8 {width: 75%;}
	.col-9 {width: 80%;}
	.col-10 {width: 83.33333333%;}
	.col-11 {width: 91.66666667%;}
	.col-12 {width: 100%;}
	.menu2{
		padding: 0 6%;
	}
}

.corazon{
  height:60%;
  width:60%;
 

}
.comentar{
  height:60%;
  width:60%;
 

}
.compartir{
  height:60%;
  width:60%;
 

}
.contenedor{
text-align: center;
position: relative;
/*overflow:auto;*/
height: 400px;

}

div.fotos{
	margin-left: 11%; 
	background-color: white;
	float: left;
	margin-top: 5%;
	position: relative;
	width: 30%;
	height: 230px;
	box-shadow: 2px 2px 1px #888888;
	        
}
div.information{
	margin-left: 11%; 
	background-color: white;
	float: left;
	margin-top: 5px;
	position: relative;
	width: 30%;
	height: 35px;
	box-shadow: 2px 2px 1px #888888;
	     
}


 div.etiquetas{
	float: right;
	position: relative;
	margin: 5px;
    width: 40px;
    height: 40px;
   

}

.titulo_foto1{
  	float: left;
  	position: relative; 
	padding-left:10px;
	margin-top: 2%;

}
.usuario_foto1{
  	float: right;
  	position: relative;
	margin-top: 2%;
	 padding-right: 10px;
	 color: blue;
}
.titulo_foto2{
  	float: left;
  	position: relative; 
	padding-left:10px;
	margin-top: 2%;

	 

}
.usuario_foto2{
  	float: right;
  	position: relative;
	margin-top: 2%;
	 padding-right: 10px;
	 color: blue;
}
img.imagen_fondo{
	
	width: 100%;
	height: 100%;

}
.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}




